<form action="/weather" method="POST">
  <div class="form-group">
    <h2>Enter City Name</h2>
    <input type="text" class="form-control m-4" name="cityName" placeholder="City Name">
    <button type="submit" class="btn btn-primary mb-5">Submit</button>
  </div>
  <h4>{{weatherText}}</h4>
</form>